<mat-toolbar>
    <span>Users</span>
    <span class="app-fill-remaining-space "></span>
    <button mat-raised-button  routerLink="/users/new" color="primary">
        <mat-icon>
            person_add
        </mat-icon>
        <span> User</span>
    </button>
</mat-toolbar>
<div>
    <mat-card class="app-card">
        <div class="ajax-loader" *ngIf="isLoadingResults">
            <mat-spinner></mat-spinner>
        </div>
        <div class="table-container">
            <mat-table #table [dataSource]="dataSource" matSort #table matSortActive="created" matSortDisableClear matSortDirection="asc">
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="mobile">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.mobile}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-chip [color]="element.status === 'Enabled' ? 'primary' : 'accent'" selected="true">{{element.status}} </mat-chip>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-icon class="cursor-p" routerLink="/users/edit/{{element.id}}" matTooltip="Edit">mode_edit
                        </mat-icon>
                        <mat-icon  class="cursor-p" routerLink="/users/view/{{element.id}}" matTooltip="View">pageview
                        </mat-icon>
                        <mat-icon class="cursor-p" (click)="deleteUser(element)" matTooltip="Delete">delete
                        </mat-icon>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [length]="resultsLength" [pageSize]="30">
            </mat-paginator>
        </div>
    </mat-card>
</div>