<mat-nav-list>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLink="/users" routerLinkActive="active">
        <mat-icon>people_outline</mat-icon> Users List
    </a>
    <a mat-list-item routerLink="/schedule" routerLinkActive="active" >
        <mat-icon> event</mat-icon> Schedule
    </a>
    <a mat-list-item routerLink="/profile" routerLinkActive="active">
        <mat-icon>person</mat-icon> Personal Info
    </a>
    <a mat-list-item routerLink="/settings" routerLinkActive="active">
        <mat-icon>settings</mat-icon> Settings
    </a>
    <a mat-list-item routerLink="/change-password" routerLinkActive="active">
        <mat-icon>lock</mat-icon> Password Change
    </a>
    <a mat-list-item routerLink="/orders" routerLinkActive="active">
        <mat-icon>payment</mat-icon>Payments/Orders
    </a>
    <a mat-list-item routerLink="/products" routerLinkActive="active">
        <mat-icon>list</mat-icon>Products
    </a>
    <a mat-list-item routerLink="/reports" routerLinkActive="active">
        <mat-icon>insert_chart</mat-icon>Reports
    </a>
</mat-nav-list>